
/*card media social*/





.social-card {
    background: linear-gradient(45deg, #6b11cb00, #2574fc00);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    
    
    transition: transform 0.3s ease, filter 0.3s ease;
    opacity: 0;
    animation: fadeIn 1.9s forwards; /* Animação de fade in */
    filter: drop-shadow(10px 10px 50px rgb(4, 4, 153))
}

/* Animação de fade in */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.social-card:hover {
    transform: scale(1.05); /* Efeito de pulsação */
    filter: brightness(1.2); /* Aumenta o brilho ao passar o mouse */
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.social-icon {
    width: 40px;
    transition: transform 0.3s, filter 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

/*instagrma*/

.instagram{
    filter: drop-shadow(10px 10px 50px rgb(85, 3, 102))
}

/*youtube*/

.youtube{
    filter: drop-shadow(10px 10px 50px rgb(172, 2, 2))
}


/*twitter*/

.twitter{
    filter: drop-shadow(10px 10px 50px rgb(0, 0, 0))
}
